<<<<<<< HEAD
/* /* body{
  border: 4px solid red;
} */

.container{
  border: 2px solid black;
  background-color: lightgray;
  color: navy;
  size: 26;
}
.para{
  border:1px solid black;
  background-color: lightblue;
  color: navy;
}

/* .para1{
  border:1px solid black;
  background-color: gray;
  color: orchid;
} */
p{
  color: red;
} */

.samplepic{
  width:  20 px;
  height: 20 px;
}
=======
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
>>>>>>> 8076429728372a89dc6c0ea2b0b3830e89e6a093
